@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Sigmar+One&display=swap');

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sigmar One', cursive;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style: none;
  width: 50%;
}

.tasks-item {
  border: 1px solid #d3d3d30f;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
}